body{
    background-image: url(../img/hero.jpg);
    background-size: cover;
}





/* About.html */

h3 {
  	margin-top: 90px;
    text-align: center;
    font-size: 40px;
}

.row {
	color: #252527;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px solid #f1f1f1;
	background-color: ##2ecc71;
}

p {
	text-align: center;
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
	font-size: 18px;

}


.icon {
	width: 700px;
	height: 500px;
	margin: 0 auto;
	margin-bottom: 10px;
	background-size: cover;
}

#us {
	background-image: url(../img/hackmit_2017.jpg);
}
